<div class="contacto_contenedor">

    <h2>
        Contacto
    </h2>
    <p>Ponte en contacto</p>

    <div class="contacto_info">


        <div class="contacto_datos">
            <p><img src="../../assets/pin-de-ubicacion.png" alt="icono ubicacion"><span> Ubicacion: </span> </p>
            <p class="info">Còrdoba, Argentina</p>
            <p class="email"><img src="../../assets/email.png" alt="icono ubicacion"><span> Email:</span></p>
            <p class="info">artazacarla@gmail.com</p>
            

        </div>


        <div class="contacto_redes">
            <p>Podes encontrarme tambien <br> en<span> Redes sociales</span></p>
            <a href=""><img src="../../assets/github.png" class="contacto_icono" alt="icono github"> </a>
            <a href=""><img src="../../assets/linkedin.png" class="contacto_icono" alt="icono linkedin"></a>
        </div>

    </div>
    
</div>